{% extends "base.html" %}
{% block title %}All Contacts{% endblock title %}
{% block body %}
<center><h1 style="color: #1b76c6;">All Contacts</h1></center>

<div style="margin: 40px;">
    <ol class="list-group">
        {% for contact in contacts  %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <h3 style="color: rgb(74, 70, 70);">{{contact.name}}</h3>
              <h6 style="color: rgb(113, 110, 110);">Email: {{contact.email}}</h6>
              <h6 style="color: rgb(113, 110, 110);">Phone: {{contact.phone}}</<h6>
              
              
            </div>
            <br>
              <div style="background-color: rgb(27, 138, 27); padding: 8px; border-radius: 10px;">
                <a href="/update/{{contact.id}}" style="font-weight: bold; color: white; text-decoration: none;">Edit</a>
              </div>
              <br>
              <!-- <form method="post" action="/deleteContact/{{contact.id}}" style="display: inline; margin-left: 10px;"> -->
              <form method="post" action="{% url 'deleteContact' contact.id %}" style="display: inline; margin-left: 10px;">
                {% csrf_token %}
                <button type="submit" style="background-color: rgb(200, 48, 48); color: white; border: none; padding: 8px; border-radius: 10px;">Delete</button>
              </form>
          </li>
        {% endfor %}
    </ol>
</div>


{% endblock body %}